
{% load static %}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
    <!--
    <div class="flex-shrink-0 p-3" style="width: 280px;">
    -->
    <div class="flex-shrink-0" style="width: 280px;">
        <ul class="list-unstyled ps-0">

          {% for submenu in sidebar %}

            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 {{submenu.active_attrib1_for_sidebar}}" data-bs-toggle="collapse" data-bs-target="#{{submenu.url_id}}-collapse" aria-expanded="{{submenu.active_expand_for_sidebar}}">
                <i class="fas {{submenu.icon}} text-primary"></i>&nbsp;{{submenu.name}}
              </button>

              <div class="{{submenu.active_attrib2_for_sidebar}}" id="{{submenu.url_id}}-collapse">

                {% for menuitem in submenu %}

                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url menuitem.url_id %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><h6><i class="fas {{menuitem.icon}} text-primary"></i></h6>&nbsp;{{menuitem.name}}</a></li>
                  </ul>

                  {% endfor %}  

              </div>
            </li>

          {% endfor %}
          <!--

        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 {{css_class_config}}" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="{{css_config_expanded}}">
              <i class="fas fa-list-check text-primary"></i>&nbsp;Configuração
            </button>
            <div class="{{css_class_config2}}" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'inss' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><h6><i class="fas fa-table-list text-primary"></i></h6>&nbsp;Tabela de INSS</a></li>
                <li><a href="{% url 'irrf' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><h6><i class="fas fa-table-list text-primary"></i></h6>&nbsp;Tabela de IRRF</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 {{css_class_playground}}" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="{{css_playground_expanded}}">
              <i class="fas fa-laptop-code text-primary" ></i>&nbsp; Playground
            </button>
            <div class="{{css_class_playground2}}" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'cad_ee' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><h6><i class="fas fa-address-card text-primary"></i></h6>&nbsp;Cadastro de Empregado</a></li>
                <li><a href="{% url 'calc_inss' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><h6><i class="fas fa-sack-dollar text-primary"></h6></i>&nbsp;Cálculo de INSS</a></li>
                <li><a href="{% url 'calc_irrf' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><h6><i class="fas fa-sack-dollar text-primary"></h6></i>&nbsp;Cálculo de IRRF</a></li>
              </ul>
            </div>
          </li>


          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
              </ul>
            </div>
          </li>
          -->
        </ul>
    </div>

</div>    