<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <style>
            .container {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                grid-gap: 20px;
              }
            .container2 {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
            }
                      
        </style>
    </head>
    <body>
        <div class="container">

            <div>
                div 1
            </div>

            <div>
                div 2
            </div>

            <div>
                div 3
            </div>

        </div>
        <div class="container2">

            <div>
                div 1.1
            </div>

            <div>
                div 2.1
            </div>

            <div>
                div 3.1
            </div>

            <div>
                div 4.1
            </div>


        </div>        
    </body>
</html>



